* {
    box-sizing: border-box;
    user-select: none;
    font-family: 'Bebas Neue', cursive;
}

html {
    color: white;
    font-size: 10px;
}

main {
    @media (max-width: 900px) {
        height: 202%;
    }
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper__header {
    padding-top: 30px;
    padding-bottom: 30px;

    @media (max-width: 700px) {
        font-size: 2.5rem;
    }
}

.wrapper__main {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: calc(100vh - 145px);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
    height: calc(100vh - 145px);
    position: relative;
    padding: 0;

    @media (max-width: 900px) {
        grid-template-columns: 100%;
        grid-template-rows: 100% 150%;
    }
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgba(103, 103, 103, 0.306);
    box-shadow: -1px -4px 16px 0px rgba(9, 13, 35, 0.517);
    padding: 10px;
}


.footer__wrapper {
    height: 50px;
    font-size: 1.7rem;
    justify-content: flex-end;
    color: rgba(255, 255, 255, 0.878);
    font-weight: 400;

    a {
        color:rgba(209, 209, 209, 0.503);
        text-decoration: none;
        margin: 0 10px;

        &:hover {
            color: white;
        }
    }
    &>span {
        margin: 0 20px;
    }
}

.logo__rsschool {
    width: 73px;
    height: 27px;
    background-image: url('../assets/icons/rs_school_js.svg');
    background-size: cover;
}

.copyrigth {
    width: 13px;
    height: 13px;
    background-image: url('../assets/icons/copyright.svg');
    background-size: cover;  
    margin: 0; 
}