.print-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: calc(100% - 50px);
  top: 10px;
  img {
    width: 30px;
    height: auto;
    &:hover {
      cursor: pointer;
    }
    &:active {
      transform: scale(0.9);
    }
  }
}

.print-data {
  position: absolute;
  width: 620px;
  height: 877px;
  background-color: crimson;
  display: none;
}

.title-print {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  img {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }
  span {
    font-family: 'Roboto', sans-serif;
  }
}

.update-print {
  font-family: 'Roboto', sans-serif;
}

.table-print {
  margin-top: 20px;
}

.table-print-title {
  width: 450px;
  text-align: center;
  margin: 10px auto;
  font-family: 'Roboto', sans-serif;
}

.table-print-head {
  display: flex;
  text-align: center;
  div {
    width: 33%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
  }
}

.table-print-cases, .table-print-deaths, .table-print-recovered {
  display: flex;
  text-align: center;
  div {
    width: 33%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
  }
} 

.table-print-head > div:nth-child(3), .table-print-cases > div:nth-child(3), .table-print-deaths > div:nth-child(3), .table-print-recovered > div:nth-child(3) {
  border-right: 2px solid black;
}

.table-print-recovered.bottom {
  div {
    border-bottom: 2px solid black;
  }
}

.table-print-cases .title, .table-print-deaths .title, .table-print-recovered .title {
  text-align: left;
}

.second-table-print {
  width: 700px;
  margin: 0 auto;
}

.second-table-print-head, .second-table-print-cases {
  display: flex;
  text-align: center;
  div {
    width: 50%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
  } 
}

.second-table-print-cases {
  div {
    border-bottom: 2px solid black;
  }
}

.second-table-print-head > div:nth-child(2), .second-table-print-cases > div:nth-child(2) {
  border-right: 2px solid black;
}