.list__wrapper {
    width: 100%;
    height: 60%;
    overflow: hidden;
    background-color: rgba(8, 18, 23, 0.408);
    padding: 10px 20px;
    position: relative;
}

.list-wrapper {
    width: 100%;
    height: 90%;
    overflow: auto;
    font-size: 2rem;
    
}

.list-wrapper__country-block {
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.list-wrapper__country-block:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
}

.list-wrapper__country-block img {
    width: 30px;
}

.country-block__count {
    margin-right: 20px;
}

.scroll::-webkit-scrollbar-track {
	border-radius: 10px;
    background-color: #ffffff;
}

.scroll::-webkit-scrollbar {
    width: 8px;    
    border-radius: 10px;
    background-color: #ffffff;
    margin-left: 20px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 2px;
    height: 50px;
    background-color: #243b55;
}

.search-input {
    font-size: 2rem;
    font-style: italic;
    margin: 10px auto 0;
    width: 100%;
}
